.container{
    margin-top: 80px;
}

.description{
    margin-top: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0.0043em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    
}

@media (max-width : 800px) {
    .description{
        font-size: 20px;
        margin-top: 20px;
    }
}