@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');

.question {
  margin-top: 132px;
  text-align: center;
  position: relative;
  padding: 0 108px;
}

.question h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0.0022em;
  color: #12273c;
  margin: 32px 0px;
}

.accordion_title {
  color: #12273c;
  font-weight: 500;
  font-size: 22px;
}
.accordion_text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  padding: 18px;
  line-height: 25px;
  font-family: 'Rubik', sans-serif;
}

@media (max-width: 767px) {
  .question {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
    padding: 0 ;
  }
  .question h3 {
    font-size: 28px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.0022em;
    color: #12273c;
    margin: 32px 0px;
  }
  .accordion_title{
    font-size: 15px;
  }
  .accordion_text {
    text-align: left;
   font-size: 12px;
    
  }

}

