@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');

.question {
  margin-top: 132px;
  text-align: center;
  position: relative;
  padding: 0 108px;
}
.question h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0.0022em;
  color: #12273c;
  margin: 32px 0px;
}

.faqSides{ /** question and email text sides **/
  display: flex;
  align-items: flex-start;
}
.main{ /** accordion_section_main **/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
}

.emailInfo{
  width: 100%;
}
.faqButton{ /** faq button **/
  background-color: #00C5FF;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.faqButton:hover{ /** faq button hover **/
  background-color: rgb(128, 128, 128);
  color: #fff;
  cursor: pointer;
}

.accordion_title {
  color: #12273c;
  font-weight: 500;
  font-size: 18px;
  font-family: system-ui;
  font-weight: 700;
}
.accordion_text {
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Rubik', sans-serif;
}
.accordion_readbtn{ /** accordion read element **/
  padding-left: 10px;
}

@media (max-width: 767px) {
  .question {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
    padding: 0 ;
  }
  .question h3 {
    font-size: 28px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.0022em;
    color: #12273c;
    margin: 32px 0px;
  }
  .accordion_title{
    font-size: 15px;
  }
  .accordion_text {
    text-align: left;
    font-size: 12px;
  }
  .faqSides{
    display: inline;
  }
  .faqButton{
    padding: 15px 0;
  }
}