.isContinue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  gap: 8px;
  border-radius: 32px;
  width: 115px;
  margin-top: 40px !important;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0043em;
  color: #6f6f6f;
  background-color: #6f6f6f26;
}

.bosqichPage h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.0022em;
  color: #12273c;
  margin-top: 20px;
}

.scheduleDate {
  margin-top: 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.0007em;
  color: rgba(18, 39, 60, 0.6);
  text-align: center;
}

.goal {
  margin-top: 92px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.goalIcon {
  margin: 0 auto;
}

.card1,
.card2 {
  position: relative;
  /* border: 1px solid; */
  width: 294px;
  /* height: 267px; */
  text-align: center;
}

.card1>h2,
.card2>h2 {
  margin-top: 6px;
  line-height: 32px;

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.66px;
  color: #12273c;
}

.card1>p,
.card2>p {
  margin-top: 8px;
  line-height: 28px;
  color: rgba(113, 125, 138, 1);

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.5px;
}

.card1>p>span,
.card2>p>span {
  color: #44484c;
}

.card2::before {
  content: "";
  background: linear-gradient(180deg,
      rgba(0, 194, 255, 1) 0%,
      rgba(82, 0, 255, 1) 100%);
  filter: blur(219px);
  height: 238.2720184326172px;
  width: 247.03199768066406px;
  position: absolute;
  top: 100%;
  right: 10%;
}

.block {
  display: flex;
  align-items: center;
}

.rules {
  margin-top: 150px;
  text-align: center;
}

.rules h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
}

.rulesCard h2 {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 110%;
  color: #12273c;
}

.rules .rulesCard p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.0043em;
  color: rgba(0, 0, 0, 0.6);
}

.rules::before {
  content: "";
  background: linear-gradient(180deg,
      rgba(0, 194, 255, 0.8) 0%,
      rgba(82, 0, 255, 0.8) 100%);
  filter: blur(219px);
  height: 238.2720184326172px;
  width: 247.03199768066406px;
  position: absolute;
  left: 21.8%;
}

.rulesCard {
  margin-top: 50px;
  text-align: start;

}

.rule1 {
  padding: 30px 40px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(80px);
  border-radius: 24px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
}

@media (max-width: 1200px) {
  .rulesCard {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .rules {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .goal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bosqichPage h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.0022em;
    color: #12273c;
    margin-top: 20px;
  }

  .rule1 {
    padding: 24px 16px;
  }

  .rules h2 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 12px;
  }

  .rulesCard h2 {
    font-size: 20px;
  }

  .rules .rulesCard p {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .rules .rulesCard p {
    font-size: 15px;
  }
}

@media (max-width: 340px) {
  .rules .rulesCard p {
    font-size: 14px;
  }

  .rulesCard h2 {
    font-size: 18px;
  }
}