.content {
  margin-top: 190px;
  text-align: center;
  
}

.content h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0.0022em;
  color: #12273c;
  margin: 0;
}

.container {
   
    margin-top: 64px;
  }
  
  .card {
    background-color: white;
    position: relative;
   text-align: left;
    width: 100%;
    height: 260px;
    border-radius: 32px;
    border: 2px solid #d9d9d9;
    padding: 24px;
  }
  .card:nth-child(2) {
    margin: 0 30px 0px 30px;
  }

  .image{
      display: flex;
  }

  .card h3{
      font-size: 18px;
      font-weight: 700;

  }
  .card p{
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.0043em;
  }

  .link a{
      margin-top: 64px;
     display: inline-block;
    background-color: #8d53fd;
    color: white;
    padding: 21px 24px;
    font-size: 22px;
    line-height: 22px;
    border-radius: 12px;
  }

  .link a:hover{
    background-color: blueviolet;
  }
  @media (max-width: 1200px) {
    .card {
      height: 280px;
    }
  }


  @media (max-width: 700px) {
    .content {
      position: relative;
      margin-top: 48px;
      text-align: center;
    }
    .content h3 {
      font-size: 28px;
      font-weight: 800;
      line-height: 30px;
    }

    .card{
      height: auto;
      padding: 16px;
    }

    .card h3{
      margin-top: 24px;
      margin-bottom: 12px;
     font-size: 16px;
     font-weight: 700;
     line-height: 19px;
    }

    .card p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
    }
 
  
  }
  