.hakatonFoto {
    padding-bottom: 115px;
}

.hakatonFoto_title {
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.0022em;
    color: #12273C;
    margin-bottom: 40px;
}

.hakatonFoto_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 28px;
    row-gap: 28px;
    margin-bottom: 48px;
}

.hakatonFoto_wrapper img {
    width: 100%;
    border-radius: 16px;
}


.hakatonFoto button {
    font-weight: 400;
    font-size: 16px;
    line-height: 140.5%;
    color: #8D53FD;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

@media (max-width: 1110px) {
    .hakatonFoto_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .modalImg .modalWrap {
        width: 50%;
        height: 55%;
    }
}

@media (max-width: 767px) {
    .hakatonFoto_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .modalImg .modalWrap {
        width: 60%;
        height: 55%;
    }

    .hakatonFoto_title {
        font-size: 40px;
    }

    .hakatonFoto {
        padding-bottom: 80px;
    }
}

@media (max-width: 576px) {
    .modalImg .modalWrap {
        height: 50%;
    }
}

@media (max-width: 500px) {

    .iconTimes {
        right: -7px;
        top: -35px;
    }

    .modalImg .modalWrap {
        width: 90%;
        height: 250px;
    }

    .hakatonFoto {
        padding-bottom: 50px;
    }

    .hakatonFoto_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .hakatonFoto_card {
        height: 220px;
    }

    .hakatonFoto_card span {
        height: 100% !important;
    }

    .hakatonFoto_wrapper {
        margin-bottom: 30px;
    }

}

@media (max-width: 460px) {
    .hakatonFoto_title {
        font-size: 28px;
    }
}