.hackaton {
  margin-top: 76px;
}

.hackaton h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0.0022em;
  color: #12273c;
  margin: 0;
  text-align: center;
}

.hackaton h6{
  display: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #12273c;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.hackaton h4{

  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  color: #12273c;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
  padding-left: 2px;
}

.hackaton p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #12273c;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.partners {
  display: flex;
  /* flex-direction: column; */
  margin-top: 60px;
  position: relative;
}

.partners_right span {
  color: red;
}

.partners::before {
  content: "";
  filter: blur(91px);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 133, 255, 0.58)),
    to(rgba(173, 0, 255, 0.11))
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 133, 255, 0.58) 0%,
    rgba(173, 0, 255, 0.11) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 133, 255, 0.58) 0%,
    rgba(173, 0, 255, 0.11) 100%
  );
  -webkit-filter: blur(91px);
  position: absolute;
  top: 0%;
  left: -15%;
  width: 416px;
  height: 391px;
  border-radius: 50%;
  z-index: 0;
}

.show{
  display: none;
}

.partners_left li {
 
  list-style: none;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  line-height: 28px;
  color: #12273c;

}

.cards{
  width: 95%;
  padding: 15px 15px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(80px);
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
}

/* #8D53FD -1.4%, #B38CFF */

.partners_right {
  display: flex;
  flex-direction: column;
  border: 1px solid #b8bdc9;
  background: transparent;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  -o-backdrop-filter: blur(80px);
  border-radius: 5px;
  padding: 0 38px 38px 38px;
  
  width: 100%;
}
.partners_right a {
  color: #2e69ff;
}

.userbox {
  position: relative;
}

.userbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 10px;
  font-size: 16px;
  
  pointer-events: none;
  transition: 0.5s;
}

.userbox input {
  background: transparent;
  border: none;
  border: 1px solid #b8bdc9;
  border-radius: 4px;
  padding: 0 0.625em;
  height: 3.3em;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  color: #111;
  width: 310px;
  padding: 22px 0px 0px 10px;
}

.userbox input:focus ~ label,
.userbox input:valid ~ label {
  top: -10px;
  left: 0;
  font-size: 12px;
}

/* .userbox input[type="email"]:invalid  {
opacity: 1;
visibility: visible;
border-color: red;
} */

.userbox input[type="email"]:invalid:focus-visible {
	border-color: red;
  box-shadow: 0 0 0 3px rgba(255, 46, 46, 0.25);
}

.userbox input[type="email"]:invalid ~label {
  top: -10px;
  left: 0;
  font-size: 12px;
}

.userbox input[type="email"]:focus ~label {
  top: -10px !important;
  left: 0;
  font-size: 12px !important;
}

.userbox input:focus {
  padding: 22px 0px 0px 10px;
  border-color: #2e69ff;
  box-shadow: 0 0 0 3px rgb(46 105 255 / 25%);
}

.userbox input:valid {
  padding: 22px 0px 0px 10px;
}
.partners_right select:focus {
  border-color: #2e69ff;
  box-shadow: 0 0 0 3px rgb(46 105 255 / 25%);
}

.partners_right div {
  margin-top: 15px;
}

.partners_right div p {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #111;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 0;
}

.partners_right .position label {
  margin-top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 33%;
  
}

.partners_right .position {
  margin-top: 30px;

}

.teamyes label {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 15%;
 
}
.teamyes input {
  width: 16px;
  height: 16px;
}

.position input {
  width: 16px;
  height: 16px;
}

.partners_right h4 {
  font-size: 1.25em;
  margin-bottom: 4px;
  padding-top: 30px;
  text-align: left;
  color: #2c3345;
  font-weight: 500;
}

.partners_right hr {
  margin-top: 10px;
  margin-bottom: 25px;
  border: 1px solid rgba(168, 166, 166, 0.25);
}

.lastline {
  margin-bottom: -30px;
  margin-top: 0px !important;
}

.partners_right textarea {
  background: transparent;
  border: none;
  border: 1px solid #b8bdc9;
  border-radius: 4px;
  padding: 10px 15px;
  height: 130px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #111;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;

  width: 100%;
}

.partners_right div .radioInput[type="checkbox"]:focus,
.partners_right div .radioInput[type="radio"]:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0);
}

.partners_right div .radioInput[type="radio"] {
  width: 20px !important;
  margin: 0 3px 0 0 !important;
}

.partners_right div .radioInput[type="checkbox"] {
  width: 20px !important;
  margin: 0 3px 0 0 !important;
  
}

.partners_right select {
  background: transparent;
  border: none;
  border: 1px solid #b8bdc9;
  border-radius: 4px;
  padding: 0 0.625em;
  height: 3.3em;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  display: block;
  line-height: 21px;
  width: 100%;
  color: #111;
  margin-top: 2px;
  margin-bottom: 10px;
  width: 310px;
}
.partners_right label,
.partners_right div {
color: #666666;
  
 
  /* width: 100%; */
}

.partners_right select option {
  color: #111;
  opacity: 0.3;
}
.userbox input[type="date"]
 {
  color: white;
}
.userbox input[type="date"]:focus,
.userbox input[type="date"]:valid
 {
  color: black;
}





/* .userbox input[type="date"]::-webkit-datetime-edit-text:valid,
.userbox input[type="date"]::-webkit-datetime-edit-month-field:valid,
.userbox input[type="date"]::-webkit-datetime-edit-day-field:valid,
.userbox input[type="date"]::-webkit-datetime-edit-year-field:valid {
  color: black;
} */

.partners_right button {
 
  cursor: pointer;
  padding: 12px 16px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  background: #18bd5b;
  border-radius: 7px;
}

.finally {
  margin: 0 auto;
}

.error {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0;
  color: rgba(255, 0, 0, 0.76);
}

.error button {
  margin-bottom: 15px;
}

.thanks {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  -o-backdrop-filter: blur(80px);
  border-radius: 24px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  /* color: green; */
}

@media (max-width: 992px) {
  .partners {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards{
    width: 100%;
    
  }

.hackaton h6{
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}
.hackaton p{
  display: none;
}

  .partners_right{
    margin-top: 30px;
  }

  .partners_left,
  .partners_right {
    width: 100%;
  }

  .partners_left h3 {
    font-size: 38px;
  }

  .thanks {
    margin: 50px auto 0;
  }
}

@media (max-width: 767px) {
  .partners_left li {
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 5px;
    font-weight: 100;
    line-height: 20px;
    padding-right: 0;
  }
 
  .teamyes label {
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 25%;
   
  }

  .partners_right .position label {
    width: 100%;
  }
  .hackaton h3 {
    font-size: 28px;
    line-height: 35px;
  }

  .hackaton p {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 576px) {
  .partners {
    margin-top: 25px;
  }
  .partners_right {
    padding: 20px;
    flex-direction: column;
  }
.cards{
  padding: 5px 15px;
}
.hackaton h4{

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #12273c;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
  padding-left: 2px;
}

  .thanks,
  .partners_right {
    width: 100%;
  }

  .partners_descr {
    font-size: 14px;
    line-height: 20px;
  }



  .partners_right label,
  .partners_right div {
    font-size: 14px;
    line-height: 22px;
    
   
    /* width: 100%; */
  }

  .partners_right input,
  .partners_right textarea {
    padding: 13px 11px;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
  }
  .partners_right select {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
  }

  .partners_right button {
    font-size: 15px;
    padding: 10px 10px;
  }

  .partners_right h4 {
    font-size: 15px;
  }
}
