.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;
}

.header__content::before {
  content: "";
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(0, 133, 255, 0.58)),
      to(rgba(173, 0, 255, 0.11)));
  background: -o-linear-gradient(top,
      rgba(0, 133, 255, 0.58) 0%,
      rgba(173, 0, 255, 0.11) 100%);
  background: linear-gradient(180deg,
      rgba(0, 133, 255, 0.58) 0%,
      rgba(173, 0, 255, 0.11) 100%);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  position: absolute;
  top: -5%;
  right: 0%;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  z-index: -5;
}

.header__content_text {
  color: #12273c;
}

.header__content h1 {
  font-size: 48px;
  line-height: 53px;
  width: 585px;
  font-weight: 900;
}

.header__content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 12px;
  margin-bottom: 32px;
}

.header__content_block a {
  color: white;
  padding: 16px 24px;
  background: linear-gradient(9deg, #8d53fd -1.4%, #b38cff 95.18%),
    linear-gradient(0deg, #8d53fd, #8d53fd);
  box-shadow: 0px 8px 32px rgba(141, 83, 253, 0.24);
  border-radius: 12px;
  font-size: 22px;
}

.header__content a:hover {
  background: blueviolet;
}

.header__content_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__content_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}



.header__content video {
  width: 620px;
  margin-left: 50px;
  border-radius: 20px;
}

.header__content_info {
  margin-left: 28px;
}

.header__content_info a {
  color: #33bffa;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.0043em;
  margin-left: 10px;
  transition: color 500ms ease;
  background: transparent !important;
  box-shadow: 0px 0px 0px 0px !important;
  padding: 0;
  border-radius: 0px !important;
}

.header__content-btn:hover {
  color: #055d83;
}

.our_goal {
  position: relative;
  margin-top: 205px
}

.our_goal::before {
  content: '';
  background: url('../public/neon-bgblur.png') no-repeat;
  background-size: 550px;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 550px;
  height: 550px;
  z-index: -5;
}

.our_goal h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0.0022em;
  text-align: center;
  color: #12273C
}

.our_goal p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  width: 654px;
  text-align: center;
  margin: 0 auto;
  margin-top: 16px
}