
.our_goal{
  position: relative;
  margin-top: 160px
}

.our_goal::before {
  content: '';
  background: url('../public/neon-bgblur.png') no-repeat;
  background-size: 550px;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 550px;
  height: 550px;
  z-index: -5;
}

.our_goal h3{
  font-size: 48px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0.0022em;
  text-align: center;
  color: #12273C
}

.our_goal p{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  width: 654px;
  text-align: center;
  margin: 0 auto;
  margin-top: 16px
}
.sliders{
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.sliders{
    margin-top: 64px;
    cursor: pointer;
}

.item{
  padding: 20px;
  backdrop-filter: blur(80px);
  border-radius: 20px;
  height: 350px;
  border: 2px solid rgba(238, 231, 231, 0.8);
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-left: 5%;
}

.text{
  text-align: left;
 
}

.item h4{
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 5px;
  letter-spacing: 0.0007em;
  text-align: left;
  color: #12273C
}

.item h5{
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.0043em;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

@media (max-width: 767px) {
  .our_goal{
    position: relative;
    margin-top:70px
  }
  
  .our_goal h3{
    font-size: 28px;
    font-weight: 800;
    line-height: 30px;

  }

  .our_goal p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    padding:5px
  }

  .item{
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
.item{
  height: auto;
}
  .item img{
    width: 164px!important;
    height: 164px!important;
}

.item h4{
  font-size: 15px;
  line-height: 17px;
}

.item h5{
  font-size: 12px;
 line-height: 18px;
}
}

