.initpartners {
  margin-top: 100px;
  text-align: center;
  position: relative;
}

.initpartners h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0.0022em;
  color: #12273c;
  margin: 0;
}

.item{
  filter: grayscale();
  transition: all 0.5s;
}

.item:hover{
  filter: none;
}

.initpartners p {
  
  width: 727px;
  margin: 26px auto;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width:796px){
  .partners {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 70px;
    }
    
    .initpartners {
      width: 100%;
      text-align: center;
    }
    
    .initpartners h3 {
      font-size: 28px;
      font-weight: 800;
      line-height: 30px;
    }
    .initpartners p {
      width: 100%;
      font-size: 16px;
      line-height: 22px;
    }
  
}


