.block {
  margin-top: 80px;
  color: #12273c;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.block h3 {
  font-size: 25px;
  text-align: center;
}

.block h4 {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

.desc {
  margin-top: 80px;
}

.desc ul {
  list-style: none;
}

.desc span {
  color: #4bb543;
  font-size: 120%;
}

.desc li {
  font-size: 18px;
  margin-top: 10px;
}
.btn {
  margin-top: 80px;
  text-align: center;
}
.desc a {
  color: white;
  padding: 16px 24px;
  background: linear-gradient(9deg, #8d53fd -1.4%, #b38cff 95.18%),
    linear-gradient(0deg, #8d53fd, #8d53fd);
  box-shadow: 0px 8px 32px rgb(141 83 253 / 24%);
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  min-width: 215px;
  border: none;
}

.block button:hover {
  background: #8a2be2;
  cursor: pointer;
}
