.resursHero {
    background: linear-gradient(180deg, rgb(0 137 255 / 10%) 0%, rgb(173 0 255 / 7%) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.resursHero h4 {
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: 0.0022em;
    color: #12273C;
    text-align: center;
    margin-top: 58px;
    padding: 90px 0;
}

@media (max-width: 767px) {
    .resursHero h4 {
        font-size: 35px;
    }
}

@media (max-width: 430px) {
    .resursHero h4 {
        font-size: 28px;
        margin-top: 40px;
    }
}