.resursHero {
    background: linear-gradient(180deg, rgb(0 137 255 / 10%) 0%, rgb(173 0 255 / 7%) 100%);
    padding-bottom: 110px;
}

.resursHero h4 {
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: 0.0022em;
    color: #12273C;
    text-align: center;
    margin-top: 58px;
}

@media (max-width: 767px) {
    .resursHero h4 {
        font-size: 35px;
    }
}

@media (max-width: 430px) {
    .resursHero {
        padding-bottom: 80px;
    }

    .resursHero h4 {
        font-size: 28px;
        margin-top: 40px;
    }
}