.roadmaphero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url("/road.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  z-index: 1;
  top: 80px;
}
.roadmap_heading {
  display: flex;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: transparent;
  
}

.roadmap_heading h2 {
  font-size: 48px;
  line-height: 110%;
  letter-spacing: 0.0022em;
  color: #fff;
}

.roadmap_page {
  position: relative;
  top: 80px;
  width: 100%;
  background: #15192c;
}

.container_page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 86px 86px;
}

@media (max-width: 1200px) {
  .container_page {
    padding: 86px 30px;
  }
}
@media (max-width: 767px) {
  .container_page {
    height: 100%;
    padding: 24px 24px;
  }
}

.page_heading {
  color: #ffffff;
}
.page_heading h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 5rem;
}

.page_heading p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2.25rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .roadmap_heading h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .roadmap_heading h2 {
    font-size: 30px;
  }
  .page_heading h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 4rem;
  }
  
  .page_heading p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.9rem;
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
 
    .roadmap_heading h2 {
      font-size: 22px;
      font-weight: 600;
    }
    .page_heading h2 {
      font-size: 22px;
      font-weight: 600;
      line-height: 3rem;
    }
    
    .page_heading p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.8rem;
      margin-top: 20px;
    }
  }

.item {
  position: relative;
}

.roadmap_title {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: stretch;

  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.65rem;
  color: #a787ff;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  transform: rotate(-90deg) translate(calc(-100% + -45px));
  transform-origin: top left;
  border-radius: 4px;
}

.roadmap_title::after {
  content: ">";
}

.roadmap_title::before {
  content: "<";
}

.roadmap_list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 0;
}

.roadmap_list li {
  list-style: none;
  color: #fff;
  width: 100%;
  margin: 0 0 1rem;
}

.roadmap_list .done {
  opacity: 0.5;
  color: #a3a8b8;
  text-decoration: line-through;
}
