.content {
  position: relative;
  margin-top: 105px;
  text-align: center;
}

.content h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0.0022em;
  color: #12273c;
  margin: 0;
}

.content::before {
  content: "";
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 0, 128, 0.58)),
    to(rgba(173, 0, 255, 0.11))
  );
  background: -o-linear-gradient(
    top,
    rgba(183, 0, 255, 0.58) 0%,
    rgba(173, 0, 255, 0.11) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(210, 35, 233, 0.58) 0%,
    rgba(173, 0, 255, 0.11) 100%
  );
  -webkit-filter: blur(100px);
  filter: blur(100px);
  position: absolute;
  left: 40%;
  top: 35%;
  width: 231px;
  height: 231px;
  border-radius: 50%;
  z-index: -5;
}

.container {
  position: relative;
  display: flex;
  margin-top: 60px;
}

.card {
  background-color: white;
  width: 404px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
}

.card:nth-child(2) {
  margin: 0 30px 0px 30px;
}

.card::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  border-top: 0px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 0px solid #d9d9d9;
  top: 100%;
  transform: rotate(45deg);
  margin-top: -19px;
  background-color: white;
  margin-left: 80px;
}

.card h4 {
  text-align: left;
  font-size: 20px;
  font-weight: 800;
  color: #12273c;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text h5 {
  font-size: 12px;
  line-height: 17px;
  padding: 4px 12px;
  border-radius: 32px;
}

.middle {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 20px 0;
}

.middle span {
  color: #8d53fd;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}

.middle p {
  margin: 10px;
  font-weight: 500;
  color: #12273c;
  font-size: 14px;
  line-height: 20px;
}

.data {
  position: absolute;
  top: 127%;
  margin-left: 13%;
}

.data_empty {
  margin-left: 22%;
}

.data p {
  margin-top: 0 !important;
  color: #12273c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.card::before {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  content: "";
  position: absolute;
  margin-left: 94px;
  top: 118%;
  background-color: #717d8a;
}

.card a {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: #8d53fd;
  align-items: center;
}

.content hr {
  margin-left: 0;
  width: 58%;
  margin-top: 41px;
}

.line {
  width: 42%;
  border-top: 1px dashed #12273c;
  float: right;
  margin-top: -2px;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1366px) {
  .card h4 {
    text-align: left;
    font-size: 18px;
    font-weight: 800;
    color: #12273c;
  }

  .cardFooter p,
  .cardFooter a {
    margin-top: 10px;
  }
}

@media (max-width: 1066px) {
  .card h4 {
    font-size: 16px;
  }

  .text h5 {
    font-size: 11px;
  }
}

@media (max-width: 991px) {
  .content {
    position: relative;
    margin-top: 91px;
    text-align: center;
  }
  .data {
    position: static;
    margin-left: 0;
  }
  .content h3 {
    font-size: 28px;
    font-weight: 800;
    line-height: 30px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }

  .card {
    margin: 25px auto;
    width: 510px;
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .card::after {
    display: none;
  }

  .card h4 {
    text-align: left;
    font-size: 18px;
    font-weight: 800;
    color: #12273c;
  }

  .content hr {
    display: none;
  }

  .line {
    display: none;
  }

  .card::before {
    display: none;
  }
}

@media (max-width: 550px) {
  .card {
    margin: 25px auto;
    width: 100%;
  }

  .card h4 {
    font-size: 16px;
  }

  .text h5 {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .content::before {
    width: 160px;
    height: 160px;
  }
}
