.content {
  margin-top: 208px;
  text-align: center;
  position: relative;
  
}

.content h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0.0022em;
  color: #12273c;
  margin: 0;
}

.content::before {
    content: "";
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 0, 128, 0.58)),
      to(rgba(173, 0, 255, 0.11))
    );
    background: -o-linear-gradient(
      top,
      rgba(183, 0, 255, 0.58) 0%,
      rgba(173, 0, 255, 0.11) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(210, 35, 233, 0.58) 0%,
      rgba(173, 0, 255, 0.11) 100%
    );
    -webkit-filter: blur(100px);
    filter: blur(100px);
    position: absolute;
    left: 40%;
    top: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -5;
  }

.content p {
  width: 610px;
  margin: 16px auto;
  font-size: 20px;
  font-weight: 400;
}

.grid{
  
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 48px;
}

.card{
    width: 512px;
 
    border: 2px solid #0000001A;
    border-radius: 24px;
    padding: 16px;
    background-color: white;
    backdrop-filter: blur(80px);
    margin:16px 0px;
    transition: 0.5s;
    
}

.card:hover{
  background: #374151;
  color: white;
}

.item{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.block{
    display: flex;
    align-items: center;
}

.item h5{
    padding-left: 24px;
    font-size: 18px;
    font-weight: 400;
}



.item span{
    font-size: 18px;
    font-weight: 400; 
}

.grid h4{
    color: #374151;
    font-size: 24px;
    font-weight: 700;
}


.grid a{
   display: block;
    text-align: center;
    color: #8d53fd;
    font-size: 22px;
    font-weight: 400;
    margin-top: 16px;
}

@media (max-width: 1024px){
  .grid{
    display: flex;
    flex-direction: column;
   
    align-items: center;
   }
   .voice{
    margin-top: 64px;
  }
}

@media (max-width: 767px) {
  .content {
    position: relative;
    margin-top: 48px;
    text-align: center;
  }
  .content::before {
   display: none;
  }
  .content h3 {
    font-size: 28px;
    font-weight: 800;
    line-height: 30px;
  }
  .content p {
    width: 100%;
    margin: 16px auto;
    font-size: 16px;
    font-weight: 400;
  }

  .grid{
 display: flex;
 flex-direction: column;
 align-items:stretch;
}

.voice{
  margin-top: 64px;
}
.item h5{
  padding-left: 24px;
  font-size: 12px;
  font-weight: 400;
}
.item span{
  font-size: 12px;
  font-weight: 400; 
}
.card{
 
  width: 100%;
  padding: 10px;
}
.grid a{
  margin-top: 32px;
   font-size: 16px;
}



}
