.main {
    text-align: center;
    font-size: 40px;
    margin: 70px 0;
}

.title {
    font-weight: 700;
    font-size: 24px;
    text-align: start;
}

.desc {
    color: gray;
    font-weight: 400;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 45px;
}

.boxHeader {
    height: 250px;
}

.boxHeader img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.boxBody {    
    padding: 24px 16px 38px;
}

.flexClass {
    width: calc(100% - 32px);    
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 38px;
}

.flexClass .ppp {
    color: gray;
}

.flexClass a {
    color: #8D53FD;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.flexClass a img {
    margin-left: 8px;
}

.parent {
    z-index: 22;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 28px;
}

.box {
    margin: 20px 0 20px;
    background: white;
    border-radius: 24px;
    line-height: 180%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 22;
    position: relative;
}


@media (max-width: 992px) {
    .title {
        font-size: 20px;
    }   

    .desc {
        font-size: 16px;
    }

    .ppp {
        font-size: 15px;
    }

    .boxBody {
        padding-bottom: 30px;
    }

    .flexClass a {
        font-size: 15px;
    }
    
    .flexClass a img{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 950px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}

@media (max-width: 880px) {    

    .flexClass {
        margin-top: 30px;
    }
}

@media (max-width: 650px) {
    .title {
        font-size: 18px;
    }   

    .desc {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .parent {
        grid-template-columns: repeat(1, 1fr);
    }

    .main {
        font-size: 35px;
    }
}

@media (max-width: 430px) {

    .main {
        font-size: 28px;
        margin-bottom: 35px;
        margin-top: 50px;
    }
}