.relevantThemeTitle {
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.0022em;
    color: #12273C;
    font-family: 'Inter', sans-serif;
}

.moreBtn {
    font-weight: 400;
    font-size: 16px;
    line-height: 140.5%;
    color: #8D53FD;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    text-align: start;
}

.desc {
    color: gray;
    font-weight: 400;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 45px;
}

.boxHeader {
    height: 250px;
}

.boxHeader img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.boxBody {
    padding: 24px 16px 38px;
}

.flexClass {
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 38px;
}

.flexClass .ppp {
    color: gray;
}

.flexClass a {
    color: #8D53FD;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.flexClass a img {
    margin-left: 8px;
}

.parent {
    z-index: 22;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 28px;
}

.box {
    margin: 20px 0 20px;
    background: white;
    border-radius: 24px;
    line-height: 180%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 22;
    position: relative;
}


.mobileSlider {
    display: none;
}

@media (max-width: 992px) {
    .title {
        font-size: 20px;
    }

    .desc {
        font-size: 16px;
    }

    .ppp {
        font-size: 15px;
    }

    .boxBody {
        padding-bottom: 30px;
    }

    .flexClass a {
        font-size: 15px;
    }

    .flexClass a img {
        width: 20px !important;
        height: 20px;
    }
}

@media (max-width: 950px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}

@media (max-width: 880px) {

    .flexClass {
        margin-top: 30px;
    }
}

@media (max-width: 650px) {
    .title {
        font-size: 18px;
    }

    .desc {
        font-size: 15px;
    }
}


@media (max-width: 600px) {
    .parent {
        display: none;
    }

    .relevantThemeTitle {
        display: none;
    }

    .moreBtn {
        display: none;    
    }

    .mobileSlider {
        display: block;
        grid-template-columns: repeat(1, 1fr);
    }

    .boxHeader {
        height: 50%;
    }

    .mobileSlider h4 {
        font-size: 28px;
        line-height: 110%;
        text-align: center;
        letter-spacing: 0.0022em;
        color: #12273C;
        margin-top: 24px;
    }
    .flexClass {
        position: static;
    }
}

@media (max-width: 430px) {
    .relevantThemeTitle {
        font-size: 28px;
    }
}